.meni {
    background-color: #76aad8;
    border-style: solid;
    border-color: greenyellow;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    height: 60px;
    width: 825px;
    text-align: center;
}

.meni li {
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: 15%;
    top: 0;
    display: inline-block;
}

a {
    color: black;
}
  
#id { 
    text-decoration: none;
}

.logo {
    position: absolute;
    width: 20%;
    height: 50%;
    top: 0;
    left: 40%;
    transform: translateY(-90%);
}

.sadrzaj {
    margin-top: 2.5%;
    border-style: solid;
    border-color: greenyellow;
    background-color: #76aad8;
    border-width: 1px;
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sadrzaj img {
    height: 102px;
    width: 102px;
}

.grid-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}